@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700;800&display=swap');

html{
    scroll-behavior: smooth;
  }
  body{
      font-family: 'Noto Sans KR', 'Montserrat', 'Paytone One', 'Arial', 'Helvetica','Passion One', 'Chivo', cursive, sans-serif;
      height: 100%;
  }
  a{
      text-decoration: none;
      color: #000;
  }
  #wrap{
      position: relative;
      min-height: 100%;
      padding-bottom: 60px;
  }
  .scrollToTop{
    position: relative;
    top: -15px;
    left: 96.5%;
    display: inline-block;
    width: 50px;
    height: 50px;
    filter:drop-shadow(2px 3px 5px #535353) ;
  }


 /* header */
 #header{
    z-index:15; 
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgba(243,243,243,0);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  #header.active{
    position: fixed;
    top: -150px;
    transition: all 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  }
.logo{
    width: 120px;
    font-size: 22px;
    font-family: 'Chivo', sans-serif;
    font-weight:800;
    letter-spacing: 0.2em;
    margin-left: 70px;
  }

  .logo::after{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 24px;
    left: 127px;
    background: url(../images/Star\ 2.svg) no-repeat 0% 0%;
    background-size: cover;
    transition: all 0.7s cubic-bezier(1.000, 0.005, 0.540, 0.995);
    transform: rotate(-90deg);
  }
   
  .logo:hover::after{
    transition: all 0.7s cubic-bezier(1.000, 0.005, 0.540, 0.995);
    transform: rotate(90deg);
  }

/* gnb */
.gnb ul{
    display: flex;
    font-size: 12px;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 500;
    margin-right: 25px;  
}
.gnb ul li{
    border-radius: 47%;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 12px;
}
.gnb ul li:hover{
    background-color: #333bff;
}
.gnb ul li:hover a{
    color: #ECFF13;
}
.gnb ul li a{
    display: block;
}

/* main */
.container{
    position: relative;
    top: 130px;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}
.con{
    margin: 250px auto;
    width: 1400px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 580px;
}
.con>.conex{
    position: relative;
    top: -300px;
    width: 800px;
}
.con:nth-of-type(2)>.conex{
    position: relative;
    top: -350px;
    width: 800px;
}
.con>.context>p{
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.con>.context>p::after{
    position: relative;
    top: -12px;
    left: 90px;
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
}
.context>h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 80px;
}
.context>h3{
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.context>h4{
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 30px;
}
.btn_text{
    position: relative;
    width: 140px;
    height: 40px;
    border: 1px solid #222;
}
.btn_text>a{
position: absolute;
z-index: 10;
display: block;
width: 100%;
height: 100%;
font-family: 'Montserrat',sans-serif;
font-size: 14px;
font-weight: 400;
text-align: center;
line-height: 41px;
transition: all 0.4s cubic-bezier(1, 0, 0, 1)
}
.btn_text>a:hover{
    color: #FFF;
}
.btn_text:before{
    position: absolute;
    bottom: 0;
    left: 0;
     content: '';
     display: block;
     width: 100%;
     height: 40px;
     background: #000;
     transform-origin: right top;
     transform: scale(0, 1);
     transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
   }
.btn_text:hover::before {
       transform-origin: left top;
       transform: scale(1, 1)
     }
.con>.conex>img{
    float: left;
    position: relative;
    top: 35px;
    left: 90px;
}
.con:nth-of-type(2)>.conex>img:nth-of-type(2){
    position: relative;
    top: -362px;
}
.mockup{
    position: relative;
    top: 365px;
    left: 159px;
    width: 507px;
    height: 320px;
    z-index: 50;
    overflow: hidden;
  }
  .mockup>img{
    width: 507px;
    animation: mockup ease-in infinite;
    animation-duration: 5s;
    animation-delay: 3s;

  }
  @keyframes mockup{
    0%{transform: translateY(0);}
    10%{transform: translateY(0);}
    60%{transform: translateY(-54.4%);}
    80%{transform: translateY(-54.4%);}
    100%{transform: translateY(0);}
  }
.con:nth-of-type(3)>.conex>.mockup>img{
    width: 507px;
    animation: mockup2 ease-in infinite;
    animation-duration: 7s;
    animation-delay: 3s;
}
@keyframes mockup2{
    0%{transform: translateY(0);}
    10%{transform: translateY(0);}
    60%{transform: translateY(-85%);}
    80%{transform: translateY(-85%);}
    100%{transform: translateY(0);}
  }
  .con:nth-of-type(4)>.conex>.mockup>img{
    width: 507px;
    animation: mockup3 ease-in infinite;
    animation-duration: 6s;
    animation-delay: 3s;
}
@keyframes mockup3{
    0%{transform: translateY(0);}
    10%{transform: translateY(0);}
    60%{transform: translateY(-72.7%);}
    80%{transform: translateY(-72.7%);}
    100%{transform: translateY(0);}
  }
.con>.context>p{
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.con:nth-of-type(2)>.context>p::after{
    position: relative;
    top: -12px;
    left: 110px;
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
}
.con:nth-of-type(2)>.conex>img{
    position: relative;
    top: 35px;
    left: 190px;
    margin-right: 30px;
}
.mockup2{
    position: relative;
    top: 440px;
    left: 202px;
    width: 181px;
    height: 395px;
    z-index: 50;
    overflow: hidden;
    border-radius: 25px;
  }
  .mockup2>img{
    position: relative;
    width: 181px;
    height: 400px;
}


.mockup3{
    position: relative;
    top: 42.5px;
    left: 202px;
    width: 181px;
    height: 395px;
    z-index: 50;
    overflow: hidden;
    border-radius: 25px;
  }
  .mockup3>img{
    width: 181px;
    height: 400px;
    animation: mockup4 ease-in infinite;
    animation-duration: 5s;
    animation-delay: 3s;
}
.con:nth-of-type(2)>.conex{
    position: relative;
    top: -400px;
}
.con>.conex>.backcolor{
    width: 370px;
    height: 680px;
    background: #333bff;
    float: right;
    margin-top: -500px;
}
.con>.conex>.backcolor2{
    width: 550px;
    height: 550px;
    border-radius: 100%;
    background: #333bff;
    float: right;
    margin-top: -845px;
}
.con:last-child{
    margin-bottom: 500px;
  }

/* footer */
#footer{
    display: flex;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0; 
    justify-content: space-between;
    align-items: center;
    background: #EEEEEE;
}
#footer h2{
  font-family: 'Noto Sans KR',sans-serif;
  padding-left: 20px;
  font-weight: 800;
}
#footer>ul{
  display: flex;
}
#footer>ul li{
  font-family: 'Noto Sans KR',sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-right: 20px;
}
#footer>ul li:hover a{
  color: #333bff;
}